#crud .head h2:after,
#crud .head h2:before {
  background: linear-gradient(
    135deg,
    #212121 0,
    #212121 50%,
    #96041f 50%,
    #bf0426 60%
  );
  width: 1.6em;
  height: 1.6em;
}
#crud,
#crud .main {
  background-repeat: no-repeat;
  background-size: cover;
}
#crud .head h2:after,
#crud .head h2:before,
#crud .main:before {
  border-radius: 0 0 0.5em;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  content: "";
  top: 0;
}
#span,
#total {
  border-bottom: 1px solid #fff;
  padding: 10px;
}
#DeleteAll,
#create,
#srcCat,
#srcTit {
  font-size: 1.2rem;
  transition: 0.5s;
  box-shadow: 15px 15px 4px #000;
}
#span,
#total {
  padding: 10px;
}
#Delete,
#search,
#span,
#update {
  position: relative;
}
#crud .head h2:before,
#crud .main:before,
.btn-text-one,
.btn-text-two {
  position: absolute;
  left: 0;
}
#DeleteAll,
#Scroll,
#create,
#srcCat,
#srcTit {
  height: 60px;
  cursor: pointer;
}
#crud {
  background-image: url("../pic/pexels-rodolfo-quirós-2330137.jpg");
  background-position: 25% 100%;
}
#crud .head {
  margin-bottom: 3rem;
}
#crud .head h2 {
  font-size: 2.5em;
  padding: 0.7em 1.4em;
  background-color: #bf0426;
  border-radius: 0.2em;
  color: #dedede;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.9);
  border-bottom: 8px solid #000;
}
#crud .head h2:after {
  position: absolute;
  right: 0;
}
.fa-gear {
  font-size: 3rem;
  color: #dfb163;
  box-shadow: 4px 4px 1px #fff;
}
#crud .main {
  background-image: url("../pic/pexels-adrien-olichon-2387793.jpg");
  padding: 60px !important;
  border-right: 5px solid #000;
}
#DeleteAll:hover,
#create:hover,
#srcCat,
#srcTit {
  background: linear-gradient(135deg, #212121 0, #96041f 50%, #96041f 60%);
  letter-spacing: 2px;
  color: #fff;
}
#crud .main:before {
  background: linear-gradient(
    125deg,
    #212121 0,
    #212121 50%,
    #96041f 50%,
    #bf0426 60%,
    #212121 70%
  );
  width: 6.6em;
  height: 8.5em;
}
input,
select {
  color: #fff;
  font-size: 1.2rem !important;
  width: 100%;
  background-color: rgba(2, 2, 2, 0.8);
  padding: 15px 0;
  border-radius: 4px;
  box-shadow: 6px 6px 4px #000;
  text-align: center;
  outline: 0;
  border: none;
}
input:hover,
select:hover {
  box-shadow: 1px 1px 1px #444;
}
input::placeholder,
select::placeholder {
  font-size: 1.1rem;
  color: #999;
}
#total {
  font-size: 1.2rem;
  border-radius: 12px;
  box-shadow: 0 12px 4px #000;
  border-right: 38px solid #000;
}
#span {
  cursor: context-menu;
  left: 20px;
  border-right: 2px solid #212121;
  border-radius: 2px;
  font-size: 1.2rem;
}
.btn span {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  transition: top 0.5s;
}
.btn-text-one {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.btn-text-two {
  width: 100%;
  top: 150%;
  transform: translateY(-50%);
}
.btn:hover .btn-text-one {
  top: -100%;
}
.btn:hover .btn-text-two {
  top: 50%;
}
#DeleteAll,
#create {
  background-color: #010101;
  color: #fff;
  border-radius: 7px;
  border-bottom: 2px solid #fff;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#DeleteAll {
  border: none;
}
.hide {
  display: none;
}
#srcCat,
#srcTit {
  border: none;
  border-radius: 7px;
  width: 100%;
}
#srcCat:hover,
#srcTit:hover {
  letter-spacing: 4px;
}
#search {
  border-radius: 10px;
  height: 55px;
}
#search::placeholder {
  font-size: 1.4rem;
  letter-spacing: 4px;
}
.table {
  border-radius: 2px;
  box-shadow: -3px -3px 4px #444;
  border-spacing: 4px;
  text-align: center;
}
.table thead tr th {
  font-size: 1.4rem;
  padding: 12px 5px;
  box-shadow: 4px 4px 3px #444;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-bottom: 5px solid #fff;
}
#table_Body tr td {
  margin: 20px 0;
  padding: 25px 13px;
  border-bottom: 12px solid #000;
  box-shadow: 8px 8px 2px #444;
  font-size: 1.3rem;
  font-weight: 600px;
  color: #000;
  background-color: #fff;
}
.fa-wand-magic-sparkles {
  color: #fff;
  margin-left: 8px;
  font-size: 16px;
}
#Delete,
#update {
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #dfdfdf;
  z-index: 1;
  background-color: #000;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 4px 8px 3px rgba(0, 0, 0, 0.6);
  transition: 0.9s;
  overflow: hidden;
}
#Delete::before,
#update::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 8px;
  background: #e8e8e8;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: 250ms;
}
#Delete:hover,
#update:hover {
  color: #212121;
}
#Delete:hover::before,
#update:hover::before {
  width: 100%;
}
.fa-circle-xmark {
  margin-left: 5px;
}
#Delete:hover .fa-circle-xmark {
  color: #bf0426;
}
#update,
#update:hover .fa-wand-magic-sparkles {
  background-color: #1b9c85;
}
#Scroll {
  width: 60px;
  border: none;
  background-color: #fff;
  box-shadow: 4px 4px 2px #000;
  position: fixed;
  bottom: 30px;
  font-size: 50px;
  border-radius: 8px;
  font-weight: bolder;
  right: 20px;
  animation-name: upDown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes upDown {
  50% {
    bottom: 60px;
  }
  90% {
    bottom: 30px;
  }
}
#Scroll:hover {
  background-color: #bf0426;
  color: #000;
}
